{% extends "core/form_base.html" %}
{% block form_title %}Documento{% endblock %}
{% block back_url %}{% url "document_list" %}{% endblock %}
{% block breadcrumb_list %}Documentos{% endblock %}
{% block form_entity %}Documento{% endblock %}
{% block form_icon %}fas fa-folder-open{% endblock %}
{% block form_heading %}Documento{% endblock %}
{% block form_icon2 %}fas fa-folder-open{% endblock %}
{% block form_heading2 %}Documento Administrativo{% endblock %}
{% block cancel_url %}{% url "document-list" %}{% endblock %}
