{% load static %}
<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contenido</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white text-decoration-none">Inicio</a></li>
                    <li><a href="{% url 'home' %}#heroCarousel" class="text-white text-decoration-none">Noticias</a></li>
                    <li><a href="{% url 'councilors' %}" class="text-white text-decoration-none">Concejales</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Ordenanzas</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Categorías</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Social</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Cultura</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Salud</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Deportes</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Concejo Municipal de Junín</h5>
                <p class="small">Rubio, Municipio Junín - estado Táchira. Zona postal 5030.</p>
                <p class="small">"RUBIO ES ENCANTO Y CAFÉ"</p>
                <div>
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center small mb-0">Todos los derechos Reservados &copy; 2026 Concejo Municipal de Junín</p>
    </div>
</footer>